<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=s, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/practice.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a class="logo" href="#">logo</a>
          </li>
          <li class="group">
            <a class="blog" href="#">Blog</a>
            <a class="portfolio" href="#">Portfolio</a>
            <a class="services" href="#">Services</a>
            <a class="about" href="#">About</a>
          </li>
          <li class="menu dropdown">
            <a class="dropbtn" href="#">&#9776;</a>
            <div class="dropdown-content">
              <a class="blog" href="#">Blog</a>
            <a class="portfolio" href="#">Portfolio</a>
            <a class="services" href="#">Services</a>
            <a class="about" href="#">About</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Basic display properties: inline block and inline-block</h1>
      <p>Change this list to display inline instead of block</p>
      <ol>
        <li>block</li>
        <li>inline-block</li>
        <li>inline</li>
      </ol>
      <p>Change this inline display to block</p>
      <div class="inline">
        <span>block</span>
        <span>inline</span>
        <span>inline-block</span>
      </div>
    </main>
    <footer>footer</footer>
  </body>
</html>
