<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/practice.css">
</head>
<body>

    <h1>flex</h1>
    <section class="flex">
        <div class="box1">box1</div>
        <div class="box2">box2</div>
        <div class="box3">box3</div>
        <div class="box4">box4</div>
        <div class="box5">box5</div>
        <div class="box6">box6</div>

    
    </section>
    <h2>grid</h2>
    <section class="grid">
        <div class="box1">box1</div>
        <div class="box2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus non vero doloremque unde eum ex alias recusandae et, quo dolorum molestiae officia aliquam. Error velit atque quis deleniti enim natus?
        </div>
        <div class="box3">box3</div>
        <div class="box4">box4</div>
        <div class="box5">box5</div>
        <div class="box6">box6</div>
        <!-- <div class="box7">box7</div>
        <div class="box8">box8</div>
        <div class="box9">box9</div> -->

    
    </section>
    
</body>
</html>